<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Forget Email or Password</title>
      <link rel="stylesheet" href="/AddisTravel/css/w3.css">
</head>

<body>
      <!-- code for to reset password for register user email -->

      <div>
            <div class="w3-content w3-cell-row w3-margin-top w3-card-4">
                  <div class="w3-cell w3-container w3- w3-padding-32 w3-mobile">
                        <h1 class="w3-center">Welcome to Sheger Travel</h1>
                        <p class="w3-center">Your journey starts here!</p>
                        <div class="w3-center">
                              <img src="/AddisTravel/images/destinations/paris.png" alt="">
                        </div>
                  </div>

                  <div class="w3-cell w3-mobile">
                        <h2 class="w3-center">Reset Password</h2>
                        <form class="w3-container" action="/AddisTravel/pages/account/forgot_password.html"
                              method="post">
                              <label for="email" class="w3-tiny">Email:</label>
                              <input class="w3-input w3-border" type="email" id="email" name="email" required>

                              <button class="w3-button w3-blue w3-margin-top w3-block" type="submit">Send Reset
                                    Link</button>

                              <p class="w3-center">Remembered your password? <a
                                          href="/AddisTravel/pages/account/login.html">Login</a></p>
                        </form>
                  </div>
            </div>
      </div>
</body>

</html>