.slider {
      width: 100%;
      max-width: 100%;
      margin: auto;
      padding-bottom: 20px;
      background-color: gray;
      background-image: url('/images/papularTour/dusk-kuwait-city.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
}

.suggestions {
      list-style-type: none;
      padding: 0;
      margin: 0;
      border: 1px solid #ccc;
      max-height: 100px;
      overflow-y: auto;
      display: none;
}

.suggestions li {
      padding: 8px;
      cursor: pointer;
}

.suggestions li:hover {
      background-color: #f0f0f0;
}